<div>
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-bold leading-tight text-gray-900">
        Courses
      </h2>
    </div>
  </header>
  <main>
		<div class="container mx-auto">
			<div class="flex flex-wrap justify-center md:justify-evenly mt-4 flex-auto lg:justify-around">
        <% @courses.each do |course| %>
          <%= render 'shared/course', course: course %>
        <% end %>
			</div>
		</div>
  </main>
</div>
