<!--Footer-->
<footer class="pb-4">
  <div class="container">
    <div class="flex">
      <div class="w-10 w-full text-center md:text-left">
        <h5 class="px-5 pt-5 uppercase">®Quase Ninja <%= Date.today.year %></h5>
      </div>
    </div>
  </div>
</footer>
